.container {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    background: white;
    border: 5px solid gray;
}
header, footer {
    padding: 1em;
    padding-top: 0.2em;
    color: white;
    background-color: black;
    text-align: center;
}
form{
  width: 500px;
  margin: 0px auto;
  background: white;
  border-left: solid gray;
  border-right: solid gray;
  padding: 20px;
  border-radius: 10 10 10 10;
}
.input-group {
    margin: 10 0 10 0;
  }
.input-group label{
    display: block;
    text-align: left;
    margin-left: 75px;
    margin-bottom: 8px;
  }
.input-group input{
    max-width: 350px;
    height: 30px;
    width: 90%;
    padding: 5px 10px;
    font-size: 16;
    border-radius: 5;
    border: 1px solid gray;
}
.btn{
  padding: 10;
  font-size: 15;
  color: white;
  background: black;
  border: 2px;
  border-radius: 5px;
}
.error{

  padding: 10;
  font-size: 15;
  color: #a94442;
  background: #f2dede;
  border: 1px solid red;
  border-radius: 5px;
}
.success{
  padding: 10;
  font-size: 15;
  color: #a94442;
  background: #f2dede;
  border: 1px solid red;
  border-radius: 5px;

}
